# Web Framework & Server
fastapi
uvicorn

# Database
pymongo

# AI & Computer Vision (YOLO/HOG)
opencv-python

# Environment Variables (.env)
python-dotenv

# File Uploads (For Demo Video Analysis)
python-multipart==0.0.6

# HTTP Requests (For Fast2SMS API Alerts)
requests

# Data Validation
pydantic
pymongo[srv]
